{{ form_start(form) }}
<div class="form-group" >

    {{ form_widget(form, {'attr': {'class': 'form-control form-control-user'}}) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
