
{% extends 'base-back.html.twig' %}

{% block body %}
<div class="main-content app-content mt-0">
                <div class="side-app">
 
    <h1>Edit Marque</h1>

    {{ include('marque/_form.html.twig' ) }}

    <a href="{{ path('app_marque_index') }}">back to list</a>

   </div>
   </div>
{% endblock %}
